@import "blocks/variables";
@import "blocks/promo";

*{
    font-family: 'Museo Sans', sans-serif;
}
.button{
    background-color: $main-color;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    
}
