.catalog{
    &__content{
        display: none;
        
        &_active{
            margin-top: 59px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap; 
        }
    }
    .title_catalog{
        text-align: center;
    }
    

    &-item{
        
        margin-bottom: 20px;
        width: 300px;
        border: 2px solid #d0d0d0;
        padding: 25px 20px;
        overflow: hidden;
        .subtitle_catalog{
            margin-top: 20px;
            text-align: center;
        }
        &__link,
        &__back {
            position: relative;
            display: block;
            margin-top: 10px;
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover{
                color: $main-color;
            }
        }
        &__back{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            
        }  
    }
    &__wrapper{
        width: 200%;
        display: flex;
        justify-content: space-between;
        .item__main-content{
            transform: translateX(-100%);
            width: 50%;
            margin-left: -20px;
            transition: 0.5s all;
            &_active{
                transform: translateX(0%);
                margin-left: 0;
            }
        }
    }
    &__addition{
        width: 50%;
        position: relative;
        transform: translateX(20%);
        transition: 0.5s all;
        &_active{
            transform: translateX(-100%);
            padding-left: 20px;
        }
    }
    &__list{
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        font-weight: 300;
        font-size: 14px;
        color: #6b6b6b;
        
        
        .list__item{
            margin-bottom: 23px;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                background-color: $main-color;
                position: absolute;
                left: -16px;
                top: 15%;
            }
        }
    }
    &__img{
        display: block;
        max-width: 100%;
        min-height: 184px;
        margin: 0 auto;
    }
    &__descr{
        margin-top: 21px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        color: #000;
    }
    
    hr{
        margin-top: 20px;
        margin-bottom: 0;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #d0d0d0;
    }
    &__footer{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .button_catalog{
            width: 130px;
            height: 40px;
        }
    }
    &__old-price{
        color: #6b6b6b;
        font-weight: 300;
        font-size: 14px;
        text-decoration: line-through;
    }
    &__price{
        font-weight: 700;
        font-size: 20px;
    }
    
}
.catalog-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-left: 0;
    margin-bottom: 0;
    .catalog__tab{
        list-style-type: none;
        width: 200px;
        height: 50px;
        border: 2px solid #d0d0d0;
        text-align: center;
        color: #6b6b6b;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 48px;
        margin: 0 5px;
        transform: skew(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover{
            box-shadow: 3px 3px 15px $main-color;
            border: none;
        }
        div{
            transform: skew(25deg);
        }
        &_active{
            background-color: $main-color;
            color: #fff;
            border: none;
        }
    }
}