.consultation{
    min-height: 680px;
    background: url('../img/form-bg.jpg') center (center/cover) no-repeat;
    padding: 98px 0 92px 0;
    .consultation__title{
        color: #fff;
        font-weight: 500;
        font-size: 36px;
        text-transform: uppercase;
    }
    &__subtitle{
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        margin-top: 80px;
    }
    .error{
        
        font-weight: 300;
        border: 1px solid $main-color;
    }
    #name-error,
    #phone-error,
    #email-error{
        border: none;
        color: #fff;
    }
    
    
}
input{
    height: 52px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 23px 20px;
    outline: none;
    &[name=email]{
        margin-bottom: 20px;
    }
    
}
.feed-form{
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    width: 300px;
}

.button_left{
    height: 56px;
}

