.overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
form{
    position: relative;
}
.modal{
    position: relative;
    width: 381px;
    min-height: 140px; 
    background-color: #f2f2f2;
    padding: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &__close{
        font-size: 40px;
        position: absolute;
        top: -20px;
        right: -40px;
        color: $main-color;
        cursor: pointer;
    }
    &__descr{
        font-size: 15px;
        font-weight: 500;
        color: #000;
        text-align: center;
        margin-top: 5px;
    }
    .error{
        
        font-weight: 300;
        border: 1px solid $main-color;
    }
    #name-error,
    #phone-error,
    #email-error{
        border: none;
        color: $main-color;
        
    }
    
}
.subtitle_modal{
    font-size: 18px;
    text-align: center;
    
}
.feed-form_modal{
    padding-top: 28px;
}

#consultation,
#order,
#thanks{
    display: none;
}
